node_modules
.idea

/build
/public/build
/public/tinymce/
.env

/cypress/screenshots
/cypress/videos

/postgres-data
images/
redis-data/

# Pre-generated and cached images
/public/optimized-images/
/public/cache-images/

/app/styles/tailwind.css

coverage
keys/
certs/

.DS_Store
